<div class = "container">
    <div class="logo-header">
        <div class = "logo"> SwiftView.com</div>
        <div class = "header-right" style="float: right;"> 
            <app-header-menu></app-header-menu> 
        </div>
    </div>
    <div class = "top-header">
        <div class = "topcontent"> 
            <app-top></app-top> 
        </div>
    </div>
    <div class = "search"> 
        <app-search></app-search>
    </div>
    <div class = "main-content"> 
        <app-main></app-main>
    </div>
    <div class = "footer">
        <app-footer></app-footer>
    </div>
</div>